<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css" />   
    <title>home</title>
</head>
<body>
    <nav class="nav">
      
            <a href="/home">Home</a>
            <a href="/about">Works</a>
            <a href="/works">About</a>
        
    </nav>
    <div class="home">
        <h1>The batman</h1>
        <img src="/images/batman.jpg" alt="batman" width="650" height="400"/>
        <p>Batman[a] is a superhero who appears in American comic books published by DC Comics. Batman was created by artist Bob Kane and writer Bill Finger, and debuted in the 27th issue of the comic book Detective Comics on March 30, 1939. In the DC Universe continuity, Batman is the alias of Bruce Wayne, a wealthy American playboy, philanthropist, and industrialist who resides in Gotham City. Batman's origin story features him swearing vengeance against criminals after witnessing the murder of his parents Thomas and Martha; he trains himself physically and intellectually, crafts a bat-inspired persona, and monitors the Gotham streets at night. Kane, Finger, and other creators accompanied Batman with supporting characters, including his sidekick Robin; allies Alfred Pennyworth, James Gordon, and Catwoman; and foes such as the Penguin, the Riddler, Two-Face, and his archenemy, the Joker.</p>
        
    </div>
    
</body>
</html>